wtforms
requests
sqlalchemy
typing-extensions
urllib3
email-validator
flask
flask-cors
flask-login
flask-sqlalchemy
flask-wtf
gunicorn
psycopg2-binary
pymongo
pytz
stripe
werkzeug
jinja2
markupsafe
packaging
psycopg2-binary
dnspython
greenlet
idna
itsdangerous
jinja2
certifi
charset-normalizer
click
colorama
blinker
